@import '../../_variables.scss';

.item {
	box-shadow: $shadow;
	padding: 16px 24px;
	background-color: #fff;
}

.item {
	margin: 16px 0;
	list-style-type: none;
}

.header {
	display: flex;
	align-items: center;
}

.title {
	margin-right: auto;
}
